* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	background: #f5f5f5;
	padding-top: 6rem;
}

@each $dir in right, left {
	.float-#{$dir} {
		float: $dir;
		border: 2px solid #ff00cc;
	}
}

.hidden {
	display: none;
}

.main {
	@include breakpoint(medium) {
		@include outer-container(65%);
	}
	background: $color;
	padding: $base-spacing;
}

.page {
	&__header {
		font-size: 1.7em;
		text-align: center;
	}
}

.field {
	margin-bottom: 1rem;
}

.guide {
	&__section {
		@include row;
		margin-bottom: 1rem;

		// opacity: 0.6;
		// &--active {
		// 	opacity: 1;
		// }
	}

	&__label {
		font-size: 1.3em;
	}

	&__field {
		@include span-columns(7);
		height: 6rem;
	}

	&__help {
		@include span-columns(5);
		font-size: 0.9em;

		p {
			margin-bottom: 0;
		}

		ul {
			@extend %default-ul;
		}
	}
}

.clear {
	@include clearfix;
}

.auth-form {
	@include clearfix;

	&__forgot {
		font-weight: normal;
		text-align: right;
		float: right;
		font-size: 0.9em;
		color: #888;
	}

	&__button {
		float: right;
	}
}

.isHosted {
	label {
		display: inline;
	}

	input {
		display: none;
	}
}

.label-help {
	font-weight: normal;
	display: block;
	font-size: 0.8em;
	color: #666;
	padding-left: $base-spacing;
}
.submission-form {
	.progress-bar {
		margin-bottom: $base-spacing;
	}
}

.form {
	&__section {
		@include fill-parent;
		@include clearfix;
		display: none;
		// opacity: 0.4;
		// border: 1px solid red;

		margin-bottom: 2rem;
		&--active {
			opacity: 1;
			display: block;
		}
	}

	&__pos {
		&--prev {

		}
	}

	&__pos--next,
	&__section {
		// float: right;
	}
}

.button--subtle {
	background: #ccc!important;
}

.env--dev .form__section {
	// display: block;
}

.label-help2 {
	display: block;
	font-weight: normal;
	font-size: 0.9em;
}

.release-content {
	padding: 1rem 4rem;
}

.release {
	&__title {
		font-size: 1.5em;
		margin-bottom: 0.2em;
	}
}
