<h1 class="page__header">Submit a new release</h1>

{{#component 'modal' title='FYI' id='previewWarnModal'}}
	<p>Before submitting, consider fixing these</p>
	<div class="validation validation--alert">
		Spelling mistakes
	</div>
	<div class="validation validation--alert">
		Long sentences
		<span class="validation__text">Shorten for greater impact</span>
	</div>

	<input type="button" value="Dismiss" class="modalBtn button--subtle">
	<input type="button" value="Edit" class="modalBtn float-right">
{{/component}}

<form action="/submit" method="POST" class="submission-form">
	<div class="progress-bar">
		<span style="width: 20%" class="progress-bar__inner"></span>
	</div>

	<fieldset class="form__section form__section--active">
		<label for="isHosted">Have you already published your press release online?</label for="isHosted">

		<div class="field isHosted">
			<label>
				<input type="radio" name="isHosted" value="false" class="form__multiChoice">
				<span class="button">Yes</span>
			</label>

			<label>
				<input type="radio" name="isHosted" value="true" checked="checked" class="form__multiChoice">
				<span class="button">No</span>
			</label>
		</div>

		<!-- <input type="button" value="Next" class="form__pos form__pos--next float-right"> -->
	</fieldset>

	<fieldset class="form__section">
		<div class="field">
			<label for="tag">What are you publicising?</label>
			<label><input type="radio" name="tag" value="Activism">A Statement<span class="label-help">e.g. a talk, a gig, an action - anything that your organisation is hosting and wants to publicise.</span></label>
			<label><input type="radio" name="tag" value="Politics">A response to a recent event<span class="label-help">e.g. a talk, a gig, an action - anything that your organisation is hosting and wants to publicise.</span></label>
			<label><input type="radio" name="tag" value="Commerce">An Event<span class="label-help">e.g. a talk, a gig, an action - anything that your organisation is hosting and wants to publicise.</span></label>
		</div>

		<input type="button" value="Previous" class="form__pos form__pos--prev button--subtle">
		<input type="button" value="Next" class="form__pos form__pos--next float-right">
	</fieldset>

	<fieldset class="form__section form__section--meta">
<!-- 		<div class="field field--url showIfPublished hidden">
			<label>Link</label>
			<input type="url" name="URL" value="http://google.com">
		</div> -->

		<div class="field">
			<label>
				Title
				<!-- <span class="label-help2">What do you want to title your press release? Something that clearly states what you are releasing, e.g. statement from UALSU on LCC's removal of anti-racism posters</span> -->
				<span class="label-help2">This should clearly state what you are releasing</span>
			</label>
			<input type="text" name="title" value="Default release title">
		</div>

		<div class="field">
			<label>
				Date
				<!-- <span class="label-help2">?</span> -->
			</label>
			<input type="date" name="date" value="{{moment 'now' format='YYYY-MM-DD'}}">
		</div>

		<div class="field">
			<label>
				Author
				<span class="label-help2">Who is writing this release?</span>
			</label>
			<input type="text" name="author">
		</div>

		<div class="field">
			<label>
				Organisation
				<span class="label-help2">What is your organisation's name?</span>
			</label>
			<input type="text" name="organisation" value="{{user.organisation}}">
		</div>

<!-- 		<div class="field">
			<label>Region</label>
			<select>
				<option>London</option>
			</select>
		</div> -->

		<input type="button" value="Previous" class="form__pos form__pos--prev button--subtle">
		<input type="button" value="Next" class="form__pos form__pos--next float-right">
	</fieldset>

	<fieldset class="form__section form__section--guide">
		<!-- <p>We'll help you bla bla bla <a href="">Don't need help</a></p> -->

		<div class="guide__section">
			<label for="" class="guide__label">What is your organisation?</label>
			<textarea name="guideField-1" class="guide__field guide__field--1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at leo mi. Curabitur arcu lacus, dapibus vel finibus id, consequat vel elit. Nullam sit amet risus nec tortor efficitur rhoncus vel vel dolor. Quisque blandit rhoncus aliquet. Nulla quis nulla lorem. Phasellus ut pretium mauris. Mauris ultricies, elit non efficitur pretium, libero ligula blandit ligula, ac dictum felis leo sed enim. Nam vehicula maximus efficitur. Fusce elementum, ex in sodales dapibus, quam mauris sagittis nulla, et imperdiet elit turpis ac tortor. Pellentesque auctor nisi sit amet purus pellentesque finibus consectetur ac tortor. In maximus posuere dui. Sed maximus nisi sed purus egestas interdum. Fusce sed ex ligula. Nunc malesuada rutrum bibendum.
			</textarea>
			<div class="guide__help">
				<p>With a sentence for each:</p>
				<ul>
					<li>What is your aim</li>
					<li>How do you acheive your aim</li>
				</ul>
			</div>
		</div>

		<div class="guide__section">
			<label for="" class="guide__label">In one sentence, what are you releasing a statement on?</label>

			<textarea name="guideField-2" class="guide__field guide__field--2">
				Nulla congue est elit, sit amet lobortis mi dignissim vel. Integer at dui id nunc blandit suscipit. Cras eget laoreet arcu, a mattis est. Sed et arcu vel massa ultrices aliquet vel nec nunc. Duis tincidunt viverra turpis, vitae tristique metus tincidunt mattis. Donec sit amet nisl vitae turpis hendrerit mollis. Sed eleifend nulla nisl, efficitur dignissim sapien maximus eget. Fusce eget nisi facilisis, commodo quam a, molestie risus.
			</textarea>
			<div class="guide__help">
				<p>In one sentence, what are you releasing a statement on? e.g.</p>
				<ul>
					<li>Labour’s recent announcement on lowering tuition fees</li>
					<li>The recent hunger strike of Harmondsworth detainees</li>
				</ul>
			</div>
		</div>

		<div class="guide__section">
			<label for="" class="guide__label">What are your major points for your statement?</label>
			<textarea name="guideField-3" class="guide__field guide__field--3">
				Mauris sed justo eu mauris volutpat consectetur eu eget lacus. Nunc sed convallis metus. Donec sodales metus eget sem rutrum, sit amet vehicula nunc commodo. Sed auctor leo a turpis dapibus, eget laoreet arcu dignissim. Phasellus volutpat velit urna, id maximus odio tempor a. In nec purus lorem. Suspendisse congue ullamcorper massa placerat placerat. Nunc vitae euismod lorem, et consequat dolor.
			</textarea>
			<div class="guide__help">
				<p>In a brief sentence, sum up your main points</p>
				<p>These should be specificcally related to your reaction to the event in question.</p>
			</div>
		</div>

		<div class="guide__section guide__section--active">
			<label for="" class="guide__label">What is the general background of your statement?</label>
			<textarea name="guideField-4" class="guide__field guide__field--4">
				Aliquam feugiat ante sit amet elit dapibus, nec eleifend orci posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam sed eros sit amet velit tristique tempor nec nec orci. Fusce dignissim turpis dui, id suscipit velit fermentum sed. Etiam vehicula dolor et enim sodales elementum. Aenean molestie ligula enim, ut vehicula quam cursus a. Sed vitae placerat enim.
			</textarea>
			<div class="guide__help">
				<p>Are there any basic aims or beleifs that you hold in your organisation that inform the specifics of you statement? Try to list these in a sentence.</p>
			</div>
		</div>

		<input type="button" value="Previous" class="form__pos form__pos--prev button--subtle">
		<input type="button" value="Next" class="form__pos form__pos--next float-right">
	</fieldset>

	<div class="form__section form__section--preview">
		<label>Preview</label>

		<p>Title: Default title</p>
		<p>Category: Statement</p>
		<p>Published: {{moment 'now' format='YYYY-MM-DD'}}</p>
		<!-- <p>Author:</p> -->
		<p>Organisation: {{user.organisation}}</p>

		<div class="preview__body"></div>

		<input type="button" value="Previous" class="form__pos form__pos--prev button--subtle">
		<input type="submit" value="Submit" class="form__submit float-right">
	</div>
</form>
